.calendar_icon{
    background-image: url("/images/icons/calendar.png");
}
.forum_icon{
    background-image: url("/images/icons/forum.png");
}
.game_icon{
    background-image: url("/images/icons/game.png");
}
.dragon_icon{
    background-image: url("/images/icons/dragon.png");
}